<center> <h4> <a href="/customer/new"> New Customer </a>        |     <a href="../../"> Homepage </a>      |      <a href="/trip/new"> Create New Trip </a> </h4> </center>
<div style='float: right;'><img src="http://i1077.photobucket.com/albums/w466/brentmac94/Sails%20Travel%20Guide%20Dark_zpsscq9ggxg.png" border="0" alt=" photo Logo_zps5iyjczue.png" width="200" height="150" alt="Logos"></div>


<br>
<h2>Please select each part of your trip in order.</h2>
<br><br>
<h3>Select a:</h3>
<td><a class="btn btn-success" href="/flight/search/<%= trip.id %>">Flight</a></td>
<h4>Current Flight Selection</h4>
<table border="2" rules="all" cellpadding="10">
  <tr><th> Carrier </th>
  <th>Flight Number</th>
  <th>Arrival Time</th></tr>


  <% _.each(trip.flights, function(flights) { %>
 <tr>
  <td> <%= flights.carrier%></td>
  <td> <%= flights.num%></td>
  <td> <%= flights.arrival%></td> </tr>
  <% }); %> </table>

<h3>..then a:</h3>
<td><a class="btn btn-success" href="/hotel/show/<%= trip.id %>">Hotel</a></td>

<h4>Current Hotel Selection</h4>
<table border="2" rules="all" cellpadding="10">
  <tr>
    <th> Price Per Guest Per Night</th>
  </tr>
  <% _.each(trip.hotels, function(hotels) { %>
  <tr>
    <td><%= hotels.deal%> </td>
  </tr>
  <% }); %>
</table>

<h3>..and to get around town a...:</h3>
<td><a class="btn btn-success" href="/ride/search/<%= trip.id %>">Ride</a></td>

<h4>Current UBER Quote</h4>
<table border="2" rules="all" cellpadding="10">
  <tr>
    <th> Estimated Per Day Price to travel 25 miles</th>
  </tr>
  <% _.each(trip.rides, function(rides) { %>
  <tr>
    <td>$ <%= rides.costMin%> </td>
  </tr>
  <% }); %>
</table>




<br><br><br>
<h4>..or be boring and:</h4>
<a class="btn btn-info" href="/customer/show/<%= trip.owner.id %>">Return to Customer</a>




