<center> <h4> <a href="/customer/new"> New Customer </a>        |     <a href="../../"> Homepage </a>      |      <a href="/trip/new"> Create New Trip </a> </h4> </center>
<div style='float: right;'><img src="http://i1077.photobucket.com/albums/w466/brentmac94/Sails%20Travel%20Guide%20Dark_zpsscq9ggxg.png" border="0" alt=" photo Logo_zps5iyjczue.png" width="200" height="150" alt="Logos"></div>


<h2>All Customers</h2>


<h3><u>All Customers</u></h3>
<h5>Click "Customer Summary" next to the user to view the customer's travel experiences.</h5>
<table border="2" rules="all" cellpadding="10">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% _.each(customers, function(customer) { %>
  <tr data-id="<%= customer.id %>" data-model="customer" >
    <td align="center"><%= customer.id %></td>
    <td align="center"><%= customer.name %></td>
    <td align="center"><%= customer.email%></td>

    <td><a href="/customer/show/<%= customer.id %>">Customer Summary</a></td>
    <td><a href="/customer/edit/<%= customer.id %>">Edit</a></td>
    <td><a href="/customer/destroy/<%= customer.id %>">Delete</a></td>
    <td><a style="color:#1ab228;" href="/customer/<%= customer.id %>">JSON View</a></td>
  </tr>
<% }) %>
</table>
  <div> <br> <p> <a href="/customer/new"> Create New Customer </a></p> </div>
