<center> <h4> <a href="/customer/new"> New Customer </a>        |     <a href="../../"> Homepage </a>      |      <a href="/trip/new"> Create New Trip </a> </h4> </center>
<div style='float: right;'><img src="http://i1077.photobucket.com/albums/w466/brentmac94/Sails%20Travel%20Guide%20Dark_zpsscq9ggxg.png" border="0" alt=" photo Logo_zps5iyjczue.png" width="200" height="150" alt="Logos"></div>


<h1>Customer</h1>

<h1><%= customer.name %></h1>
<h2>ID: <%=customer.id%></h2>
<hr>
<h3><u>Contact Information:</u></h3>
<h4>Email: <%=customer.email%></h4>

<form action="/customer/edit/<%= customer.id %>" method="POST">
  <input type="hidden" value="<%= customer.id %>" name="owner" />
  <input type="hidden" value="<%= customer.name %>" name="name" />
  <input type="submit" value="Edit Customer" />
</form>

<h3>Trip Information</h3>
<table class="table table-striped">
  <tr>
    <th>Date of Departure</th>
    <th>Origin</th>
    <th>Destination</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(customer.trips, function(trip) { %>
  <tr data-id="<%= trip.id %>" data-model="trip">
    <td align="center"><%= trip.departureDate %></td>
    <td align="center"><%= trip.origin %></td>
    <td align="center"><%= trip.destination %></td>
    <td>
      <a class="btn btn-info" href="/trip/edit/<%= trip.id %>">Edit</a>
    </td>
    <td>
      <a class="btn btn-danger" href="/trip/destroy/<%= trip.id %>">Delete</a>
    </td>
    <td>
      <a class="btn btn-info" href="/trip/show/<%= trip.id %>">Show Trip</a>
    </td>
  </tr>
  <% }); %>
</table>

<form action="/trip/new" method="POST">
  <input type="hidden" value="<%= customer.id %>" name="owner" />
  <input type="hidden" value="<%= customer.name %>" name="name" />
  <input type="submit" value="Add Trip" />
</form>

<a class="btn btn-info" href="/customer/">All Customers</a>



